<div id="header">
    <div class="container clearfix">
        <div class="logo">
            <a href="{{ path('homepage') }}"><img src="{{ asset('bundles/app/img/logo.png.png') }}" alt="logo"></a>
        </div>
        <div class="contacts right">
            <ul>
                <li>{{ configuration.get('PHONE_1')|raw }}</li>
                <li>{{ configuration.get('PHONE_2')|raw }}</li>
                <li><a class="poplight" rel="popup_contact" href="#?w=600">Заказать звонок</a></li>
            </ul>
        </div>
        <div class="worktime right">
            <ul>
                <li><b>{{ configuration.get('WORK_TIME') }}</b></li>
                <li>{{ configuration.get('WORK_DAYS') }}</li>
            </ul>
        </div>
    </div>
</div>
<hr/>