{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/nivo-lightbox.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/nivo-lightbox-default.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style2.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{{ asset('bundles/app/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/appendix.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/wow.min.js') }}"></script>
{% endblock %}

{% block body %}
    {% include "@App/header.html.twig" %}
    {% include "@App/navigation.html.twig" %}
    {% block content %}{% endblock %}
    {% include "@App/footer.html.twig" with {'mapWithTitle': (mapWithTitle is defined) ? mapWithTitle : false} %}

    <script src="{{ asset('bundles/app/js/dm-modal.js') }}"></script>
    <script>
        new WOW().init();
    </script>
    <script src="{{ asset('bundles/app/js/jquery.validate.pack.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#contactform").validate();
        });
    </script>
    <script src="{{ asset('bundles/app/js/twitterFetcher_min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/appear.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.circliful.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/nivo-lightbox.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/main.js') }}"></script>
    <script src="{{ asset('bundles/app/js/min/plugins.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/min/main.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/appendix.js') }}"></script>

    <div id="popup_contact" class="popup_block">
        <form id="form" action="{{ path('callback') }}" method="post">
            <fieldset>
                <p class="first">
                    <label for="name">Имя *</label>
                    <input type="text" name="name" id="name" size="30" class=”required”>
                </p>
                <p>
                    <label for="phone">Телефон *</label>
                    <input type="text" name="phone" id="phone" size="30" class=”required”>
                </p>
                <p>
                    *Ваши данные надежно защищены
                    <a href="{{ path('page', {'url': 'privacy-policy'}) }}">политика конфиденциальности</a>
                </p>
            </fieldset>
            <p class="submit">
                <button type="submit" name="submit">Заказать звонок</button>
            </p>
        </form>
    </div>

{% endblock %}