<nav id="navigation">
    <div class="navbar navbar-default navbar-static-top">
        <div class="navik">
            <div class="container">
                <ul class="navg">
                    <li><a href="{{ path('homepage') }}">Кухни</a></li>
                    <li><a href="{{ path('gallery') }}">Мебель</a></li>
                    <li><a href="{{ path('services') }}">Обслуживание</a></li>
                    <li><a href="{{ path('info') }}">Материалы</a></li>
                    <li><a href="{{ path('page', {'url': 'faq'}) }}">Вопрос-ответ</a></li>
                    <li><a href="{{ path('calc') }}">Расчет кухни</a></li>
                    <div class="phone-icon right">
                        <a class="phone-icon poplight" rel="popup_contact" href="#?w=600">
                            <i class="fa fa-phone-square fa-3x"></i></a>

                        <div class="codes"><b>{{ configuration.get('PHONE_1')|raw }}</b><br/>
                            <b>{{ configuration.get('PHONE_2')|raw }}</b></div>
                        <div class="big-phone"> <span>{{ configuration.get('PHONE_3')|raw }}</span><br/></div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</nav>
{% if (displayCalcLink is not defined or displayCalcLink) %}
    <div class="fixed-link">
        <a href="{{ path('calc') }}" class="btn btn-success">Онлайн-расчет кухни</a>
    </div>
{% endif %}