<nav id="navigation">
    <div class="navbar navbar-default navbar-static-top">
        <div class="navik">
            <div class="container">
                <ul class="navg">
                    <li><a href="{{ path('homepage') }}">Кухни</a></li>
                    <li><a href="{{ path('gallery') }}">Мебель</a></li>
                    <li><a href="{{ path('services') }}">Обслуживание</a></li>
                    <li><a href="{{ path('info') }}">Материалы</a></li>
                    <li><a href="{{ path('page', {'url': 'faq'}) }}">Вопрос-ответ</a></li>
                    <div class="phone-icon right">
                        <a class="phone-icon poplight" rel="popup_contact" href="#?w=600">
                            <i class="fa fa-phone-square fa-3x"></i></a>
                        <p>{{ configuration.get('PHONE_3')|raw }}</p>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</nav>