{% extends '@App/layout.html.twig' %}

{% block content %}
    <div id="calc">
        <div class="container">
            <div class="title">
                <h2>Онлайн-расчет стоимости кухни</h2>
                <p>узнайте стоимость кухни всего за 2 шага</p>
            </div>
            <div class="calc-body">
                <h3>Шак №1. Выберите материал вашей будущей кухни:</h3>
                <span class="just"></span>
                <div class="radioboxes">
                    <div class="radio">
                        <label>
                            <input type="radio" name="material" id="optionsRadios1" value="option1" checked=""> Кухня из <a href="" data-toggle="modal" data-target="#myModal1">пластика</a>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="material" id="optionsRadios2" value="option2"> Кухня из <a href="" data-toggle="modal" data-target="#myModal2">акрила</a>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="material" id="optionsRadios3" value="option3"> Кухня из <a href="" data-toggle="modal" data-target="#myModal3">ДСП</a>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="material" id="optionsRadios4" value="option4"> Кухня из <a href="" data-toggle="modal" data-target="#myModal4">МДФ Крашеный</a>
                        </label>
                    </div>
                    <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <p>*Если вам сложно определиться с материалом вашей будущей кухни, позвоните по телефонам, указанным на сайте или <a class="alert-link poplight" rel="popup_contact" href="#?w=600">закажите бесплатный звонок</a>. Наши менеджеры помогут выбрать оптимальный вариант с точки зрения цены, цветового решения, вида гарнитуры</p>
                    </div>
                </div>
                <div class="ch-form ">
                    <h3>Шак №2. Выберите форму вашей будущей кухни и размер:</h3>
                    <span class="just"></span>
                    <div class="forms">
                        <div class="radio">
                            <label>
                                <input type="radio" name="form" id="optionsRadios5" value="option5" checked=""> <img src="{{ asset('bundles/app/img/calc/ugol-1.png') }}">
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="form" id="optionsRadios6" value="option6"> <img src="{{ asset('bundles/app/img/calc/ugol-2.png') }}">
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="form" id="optionsRadios7" value="option7"> <img src="{{ asset('bundles/app/img/calc/ugol-3.png') }}">
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="form" id="optionsRadios8" value="option8"> <img src="{{ asset('bundles/app/img/calc/ugol-4.png') }}">
                            </label>
                        </div>
                    </div>
                    <br/>
                    <p><b>Введите размер в метрах погонных (1мп = 15000см)</b></p>
                    <input type="text" name="size" placeholder="">
                    <br/>
                    <div class="alert alert-dismissible alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Не знаете размер? Воспользуйтесь услугой <a class="poplight alert-link" rel="popup_contact" href="#?w=600"> Бесплатный замер</a>
                    </div>
                </div>
                <div class="zakaz-calc">
                    <h3>Отправьте заявку и наш специалист свяжется с Вами в течении 2 часов</h3>
                    <form>
                        <p>*Ваше имя</p>
                        <input type="text" name="name" placeholder="Ваше имя">
                        <br/>
                        <p>*Ваш номер телефона</p>
                        <input type="tel" name="tel" placeholder="Ваш номер телефона">
                        <br/>
                        <a class="btn btn-primary" href="#">Заказать звонок</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Кухни из пластика</h4>
                </div>
                <div class="modal-body">
                    <img src="{{ asset('bundles/app/img/stati/plastik.jpg') }}" alt="кухня из пластика">
                    <p class="text-left">При производстве данного вида фасадов используют высококлассный контактный клей для приклеивания пластика на основание. Кромки фасадов могут быть одного цвета с фасадом или отличаться от него.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Кухни из акрила</h4>
                </div>
                <div class="modal-body">
                    <img src="{{ asset('bundles/app/img/stati/akril.jpg') }}" alt="кухня из акрила">
                    <p class="text-left">В отличие от пластиковых фасадов имеют более высокий уровень блеска и менее подвержены механическим повреждениям. Такая кухня станет эффектным дополнением к стилю хай-тек с обилием металлических поверхностей и тягой к экстра глянцу. Если вы хотите порадовать себя чем-то особенным и современным, если вы предпочитаете выделяться на фоне других, акриловые фасады для кухни — ваш вариант!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Кухни из ДСП</h4>
                </div>
                <div class="modal-body">
                    <img src="{{ asset('bundles/app/img/stati/ldsp.jpg') }}" alt="Кухни из ДСП">
                    <p class="text-left">ЛДСП - самый экономичный вариант фасадов. Как правило, ЛДСП служит материалом для корпуса шкафов. Для фасадов кухонной мебели этот материал используют редко, так как выглядит он не очень привлекательно.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Кухни из крашенного МДФ</h4>
                </div>
                <div class="modal-body">
                    <img src="{{ asset('bundles/app/img/stati/kr-mdf.jpg') }}" alt="кухня из пластика">
                    <p class="text-left">Крашенные фасады из МДФ являются очень распространенными, они прочные, устойчивые к влаге и перепадам температуры. Такие фасады могут применяться в кухнях различных стилей - от классики до хай-тек. Фасады из МДФ могут быть самых разных размеров и форм.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}