{% extends '@App/layout.html.twig' %}

{% set displayCalcLink = false %}

{% block content %}
    <div id="calc">
        <div class="container">
            <div class="title">
                <h2>Онлайн-расчет стоимости кухни</h2>
                <p>узнайте стоимость кухни всего за 2 шага</p>
            </div>
            <div class="calc-body">
                <h3>Шаг №1. Выберите материал вашей будущей кухни:</h3>
                <span class="just"></span>
                <div class="radioboxes">
                    <div class="radio">
                        <label>
                            <input type="radio" name="matcost" value="{{ configuration.get('COST_KITCHEN_PLASTIC')|replace({" ": ""}) }}" checked> Кухни, фасады из <a href="#" data-toggle="modal" data-target="#myModal1">пластика</a>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="matcost" value="{{ configuration.get('COST_KITCHEN_ACRYLIC')|replace({" ": ""}) }}"> Кухни, фасады из <a href="#" data-toggle="modal" data-target="#myModal2">акрила</a>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="matcost" value="{{ configuration.get('COST_KITCHEN_PARTICLEBOARD')|replace({" ": ""}) }}"> Кухни, фасады из <a href="#" data-toggle="modal" data-target="#myModal3">ДСП</a>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="matcost" value="{{ configuration.get('COST_KITCHEN_MDF')|replace({" ": ""}) }}"> Кухни, фасады из <a href="#" data-toggle="modal" data-target="#myModal4">крашеного МДФ</a>
                        </label>
                    </div>
                    <div class="alert alert-dismissible alert-warning">
                        {#<button type="button" class="close" data-dismiss="alert">×</button>#}
                        <p>
                            Если вам сложно определиться с материалом вашей будущей кухни, позвоните по телефонам, указанным на сайте или
                            <a class="alert-link poplight" rel="popup_contact" href="#?w=600">закажите бесплатный звонок</a>.
                            Наши менеджеры помогут выбрать оптимальный вариант с точки зрения цены, цветового решения, вида гарнитуры.
                        </p>
                    </div>
                </div>
                <div class="ch-form">
                    <h3>Шаг №2. Выберите форму вашей будущей кухни и размер:</h3>
                    <span class="just"></span>
                    <div class="forms">
                        <div class="radio">
                            <label>
                                <input type="radio" name="shape" value="shape1" checked> <img src="{{ asset('bundles/app/img/calc/ugol-1.png') }}">
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="shape" value="shape2"> <img src="{{ asset('bundles/app/img/calc/ugol-2.png') }}">
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="shape" value="shape3"> <img src="{{ asset('bundles/app/img/calc/ugol-3.png') }}">
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="shape" value="shape4"> <img src="{{ asset('bundles/app/img/calc/ugol-4.png') }}">
                            </label>
                        </div>
                    </div>
                    <br/>
                    <div class="size-inputs">
                        <h4>Введите размер в метрах</h4>
                        <input type="hidden" id="usd-byr" name="usd-byr" value="{{ configuration.get('USDBYR')|replace({" ": ""}) }}">
                        <label id="input-size-a">A: <input type="text" name="size-a"></label>
                        <label id="input-size-b">B: <input type="text" name="size-b"></label>
                        <label id="input-size-c">C: <input type="text" name="size-c"></label>
                        <button id="btn-calculate" class="btn btn-primary btn-calculate">Рассчитать</button>
                    </div>
                    <h3 id="summary"></h3>
                    <div class="alert alert-dismissible alert-info">
                        {#<button type="button" class="close" data-dismiss="alert">×</button>#}
                        Не знаете размер? Воспользуйтесь услугой <a class="poplight alert-link" rel="popup_contact" href="#?w=600">бесплатный замер.</a>
                    </div>
                </div>
                <div class="zakaz-calc" id="zakaz-calc">
                    <h3>Отправьте заявку и наш специалист свяжется с Вами в течении 2 часов</h3>
                    <form action="{{ path('callback') }}" method="post">
                        <p>*Ваше имя</p>
                        <input type="text" name="name" placeholder="Ваше имя">
                        <br/>
                        <p>*Ваш номер телефона</p>
                        <input type="text" name="phone" placeholder="Ваш номер телефона">
                        <br/>
                        <button type="submit" class="btn btn-primary">Заказать звонок</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade calc-modal" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                    <h4 class="modal-title" id="myModalLabel">Кухни, фасады из пластика</h4>
                </div>
                <div class="modal-body">
                    <img src="{{ asset('bundles/app/img/stati/plastik.jpg') }}" alt="кухня из пластика">
                    <p class="text-left">
                        {{ configuration.get('KITCHEN_PLASTIC') }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade calc-modal" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                    <h4 class="modal-title" id="myModalLabel">Кухни, фасады из акрила</h4>
                </div>
                <div class="modal-body">
                    <img src="{{ asset('bundles/app/img/stati/akril.jpg') }}" alt="кухня из акрила">
                    <p class="text-left">
                        {{ configuration.get('KITCHEN_ACRYLIC') }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade calc-modal" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                    <h4 class="modal-title" id="myModalLabel">Кухни, фасады из ДСП</h4>
                </div>
                <div class="modal-body">
                    <img src="{{ asset('bundles/app/img/stati/ldsp.jpg') }}" alt="Кухни из ДСП">
                    <p class="text-left">
                        {{ configuration.get('KITCHEN_PARTICLEBOARD') }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade calc-modal" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                    <h4 class="modal-title" id="myModalLabel">Кухни, фасады из крашеного МДФ</h4>
                </div>
                <div class="modal-body">
                    <img src="{{ asset('bundles/app/img/stati/kr-mdf.jpg') }}" alt="кухня из пластика">
                    <p class="text-left">
                        {{ configuration.get('KITCHEN_MDF') }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}