{% extends '@App/layout.html.twig' %}

{% block content %}
    <section id="portfolio" class="portfolio padding-large text-center">
        {% for item in items %}
            <div class="title">
                <h2 class="lft">{{ item.category.title }}</h2>
            </div>
            <div class="portfolio-wrapper margin-bottom-medium">
                {% set count = item.items|length %}
                {% for element in item.items|slice(0, 4) %}
                    {% set moreItems = (loop.index == 4 and count > 4) %}
                    <div class="portfolio-item print{{ moreItems ? ' more' : '' }}">
                        <div class="portfolio">
                            <a href="{{ moreItems ? path('gallery_category', {'id': item.category.id }) : element.getWebPath() }}"
                               {{ not moreItems ? 'data-lightbox-gallery="portfolio"' : ''}} title="{{ element.getTitle() }}">
                                <img src="{{ element.getThumb('small') }}" alt="{{ element.getTitle() }}"/>
                                <div class="portfolio-overlay">
                                    <div class="button">{{ moreItems ? 'Ещё' : 'Увеличить' }}</div>
                                </div>
                                {% if moreItems %}
                                    <a class="hidden" href="{{ element.getWebPath() }}" data-lightbox-gallery="portfolio"
                                       title="{{ element.getTitle() }}"></a>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </section>
{% endblock %}