{% extends '@App/layout.html.twig' %}

{% block meta %}
    <meta name="description" content="{{ metaDescription }}">
    <meta name="keywords" content="{{ metaKeywords }}">
{% endblock %}

{% block content %}
    <div id="banner">
        <div class="priziv">
            <h1>Кухни на заказ под ключ</h1>

            <h2>от 1 000 000 бел.рублей <br/><span>с бесплатной доставкой</span><br/>и сборкой за один день</h2>
        </div>
        <div class="zayavka">
            <ul>
                <li><a class="btn btn-danger poplight" rel="popup_contact" href="#?w=600">Заказать бесплатный замер</a>
                </li>
                <li><a href="#portfolio" class="btn btn-default">Посмотреть наши работы</a></li>
            </ul>
        </div>
    </div>
    <section id="portfolio" class="portfolio padding-large text-center">
        <div class="title">
            <h2> Посмотрите наши работы</h2>
        </div>
        <div class="portfolio-wrapper margin-bottom-medium">
            {% for i in 1..12 %}
                <div class="portfolio-item print">
                    <div class="portfolio">
                        <a href="{{ asset('bundles/app/img/portfolio/item.jpg') }}" data-lightbox-gallery="portfolio">
                            <img src="{{ asset('bundles/app/img/portfolio/sm.jpg') }}" alt="Portfolio 1"/>
                            <!-- END PORTFOLIO IMAGE -->
                            <div class="portfolio-overlay">

                                <div class="button">Увеличить</div>
                            </div>
                            <!-- END PORTFOLIO OVERLAY -->
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <div id="adv">
        <div class="title">
            <h2>Почему стоит заказать кухню у нас</h2>
            <p></p>
        </div>
        <div class="row">
            <div class="container">
                <div class="adv-box">
                    <div class="adv-item">
                        <img align="left" src="{{ asset('bundles/app/img/salon.jpg') }}" alt="pic" class="m-r-yes">

                        <h3>Cобственный салон </h3>

                        <p>Вы можете приехать к нам и ознакомиться
                            <br/> с образцами на месте. В салоне представлена
                            <br/> экспозиция кухонной мебели, которую Вы можете
                            <br/> посмотреть и потрогать.</p>

                    </div>
                    <div class="adv-item">
                        <img align="right" src="{{ asset('bundles/app/img/idesign.jpg') }}" alt="pic" class="m-r-none">

                        <h3>Индивидуальный дизайн </h3>
                        <p class="text-left">В отличии от типовых кухонь, кухни на заказ
                            <br/> обладают неповторимым внешним видом и
                            <br/>оригинальным дизайном</p>
                    </div>
                    <div class="adv-item">
                        <img align="left" src="{{ asset('bundles/app/img/ergo.jpg') }}" alt="pic" class="m-r-yes">
                        <h3>Максимальная эргономика </h3>
                        <p>Наши специалисты тщательно подбирают
                            <br/>конфигурацию кухни и размер каждого
                            <br/> элемента кухонной мебели</p>
                    </div>
                    <div class="adv-item">
                        <img align="right" src="{{ asset('bundles/app/img/proj.jpg') }}" alt="pic" class="m-r-none">
                        <h3>Предварительная визуализация </h3>
                        <p>Еще на начальном этапе, Вы можете оценить
                            <br/> будущую кухню и внести необходимые изменения.</p>
                    </div>
                    <div class="adv-item">
                        <img align="left" src="{{ asset('bundles/app/img/price.jpg') }}" alt="pic" class="m-r-yes">
                        <h3>Цены Вы выбираете сами </h3>
                        <p>Влияйте на стоимость своей кухни, выбирая её конфигурацию, материалы для изготовления,
                            декор.</p>
                    </div>
                    <div class="adv-item">
                        <img align="right" src="{{ asset('bundles/app/img/economy.jpg') }}" alt="pic" class="m-r-none">
                        <h3>У нас реально дешевле</h3>
                        <p>Благодаря собственному производству,
                            <br/>мы можем самостоятельно выбирать
                            <br/> ценовую политику.
                            <br/>Мы не зависим от фабрик-производителей.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="way">
        <div class="container">
            <div class="title left">
                <h2>Получите<br/> <span>БЕСПЛАТНЫЙ</span> <br/>дизайн-проект<br/> всего за 1 шаг</h2>
                <h3>или</h3>
                <a href="">Узнайте еще 2 способа как это сделать</a>
            </div>
            <div class="form right">
                <form>
                    <h3>Оставьте заявку и наш дизайнер свяжется с Вами</h3>
                    <h4>для уточнения информации</h4>
                    <input class="diz" type="text" name="name" placeholder="Как Вас зовут?">
                    <br/>
                    <input class="diz" type="tel" name="phone" placeholder="Ваш номер телефона">
                    <br/>
                    <a href="#" class="btn btn-danger">Отправить</a>
                    <p>*Ваши данные надежно защищены</p>
                </form>
            </div>
        </div>
    </div>
    <div id="respond">
        <div class="title">
            <h2>Отзывы наших клиентов</h2>
            <div class="just"></div>
            <p>Настоящие отзывы не вымышленных клиентов</p>
        </div>
        <div class="container">
            <div class="r-box">
                <blockquote class="text-left">
                    <p><em>Сделали кухню за 2 недели. Я доволен. Все соседи приходят на чайт только ко мне. Я уже второй год не покупаю чай. ЭКОНОМИЯ НА ЛИЦО!</em></p>
                    <p>Владимир Антонов</p>
                </blockquote>
                <blockquote class="text-left">
                    <p><em>Сделали кухню за 2 недели. Я доволен. Все соседи приходят на чайт только ко мне. Я уже второй год не покупаю чай. ЭКОНОМИЯ НА ЛИЦО!</em></p>
                    <p>Владимир Антонов</p>
                </blockquote>
                <blockquote class="text-left">
                    <p><em>Сделали кухню за 2 недели. Я доволен. Все соседи приходят на чайт только ко мне. Я уже второй год не покупаю чай. ЭКОНОМИЯ НА ЛИЦО!</em></p>
                    <p>Владимир Антонов</p>
                </blockquote>

                <!-- Large modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Посмотреть еще отзывы</button>

                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <blockquote class="text-left">
                                <p><em>Сделали кухню за 2 недели. Я доволен. Все соседи приходят на чайт только ко мне. Я уже второй год не покупаю чай. ЭКОНОМИЯ НА ЛИЦО!</em></p>
                                <p>Владимир Антонов</p>
                            </blockquote>
                            <blockquote class="text-left">
                                <p><em>Сделали кухню за 2 недели. Я доволен. Все соседи приходят на чайт только ко мне. Я уже второй год не покупаю чай. ЭКОНОМИЯ НА ЛИЦО!</em></p>
                                <p>Владимир Антонов</p>
                            </blockquote>
                            <blockquote class="text-left">
                                <p><em>Сделали кухню за 2 недели. Я доволен. Все соседи приходят на чайт только ко мне. Я уже второй год не покупаю чай. ЭКОНОМИЯ НА ЛИЦО!</em></p>
                                <p>Владимир Антонов</p>
                            </blockquote>
                            <blockquote class="text-left">
                                <p><em>Сделали кухню за 2 недели. Я доволен. Все соседи приходят на чайт только ко мне. Я уже второй год не покупаю чай. ЭКОНОМИЯ НА ЛИЦО!</em></p>
                                <p>Владимир Антонов</p>
                            </blockquote>
                            <blockquote class="text-left">
                                <p><em>Сделали кухню за 2 недели. Я доволен. Все соседи приходят на чайт только ко мне. Я уже второй год не покупаю чай. ЭКОНОМИЯ НА ЛИЦО!</em></p>
                                <p>Владимир Антонов</p>
                            </blockquote>
                            <blockquote class="text-left">
                                <p><em>Сделали кухню за 2 недели. Я доволен. Все соседи приходят на чайт только ко мне. Я уже второй год не покупаю чай. ЭКОНОМИЯ НА ЛИЦО!</em></p>
                                <p>Владимир Антонов</p>
                            </blockquote>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="skinali">
        <div class="container">
            <div class="textepta">
                <h4>Закажите кухню у нас и получите</h4>
                <h2>
                    Потрясающее скинали
                </h2>
                <h3>в подарок</h3>

                <div class="skinali-btn">
                    <a class="btn btn-danger poplight" rel="popup_contact" href="#?w=600">ЗАКАЗАТЬ</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}