{% extends '@App/layout.html.twig' %}

{% set mapWithTitle = true %}

{% block content %}
    <div id="banner">
        <div class="priziv">
            <h1>Кухни на заказ под ключ</h1>
            <h2>по адекватным ценам<br/><span>с бесплатной доставкой</span><br/>сборка за 1 день</h2>
        </div>
        <div class="zayavka">
            <ul>
                <li><a class="btn btn-danger poplight" rel="popup_contact" href="#?w=600">Заказать бесплатный замер</a>
                </li>
                <li><a href="#portfolio" id="scroll-to-portfolio" class="btn btn-default">Посмотреть наши работы</a></li>
            </ul>
        </div>
    </div>
    <section id="portfolio" class="portfolio padding-large text-center">
        <div class="title">
            <h2> Посмотрите наши работы</h2>
            <div class="just"></div>
            <p>Только настоящие фотографии выполненных работ</p>
        </div>
        <div class="portfolio-wrapper margin-bottom-medium">
            {% for item in portfolioItems %}
                <div class="portfolio-item print">
                    <div class="portfolio">
                        <a href="{{ item.getWebPath() }}" data-lightbox-gallery="portfolio"
                           title="{{ item.getTitle() }}">
                            <img src="{{ item.getThumb('small') }}" alt="{{ item.getTitle() }}"/>
                            <div class="portfolio-overlay">
                                <div class="button">Увеличить</div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <div id="adv">
        <div class="title">
            <h2>Почему стоит заказать кухню у нас</h2>
            <div class="just"></div>
            <p></p>
        </div>
        <div class="row">
            <div class="container">
                <div class="adv-box">
                    <div class="adv-item">
                        <img align="left" src="{{ asset('bundles/app/img/salon.jpg') }}" alt="pic" class="m-r-yes">
                        <h3>Cобственный салон</h3>
                        <p>
                            Вы можете приехать к нам и ознакомиться
                            с образцами на месте. В салоне по адресу
                            <em><a href="#map" id="scroll-to-map">{{ configuration.get('ADDRESS')|raw }}</a></em>
                            представлена экспозиция кухонной мебели, которую Вы можете
                            посмотреть и потрогать.
                        </p>
                    </div>
                    <div class="adv-item">
                        <img align="right" src="{{ asset('bundles/app/img/idesign.jpg') }}" alt="pic" class="m-r-none">

                        <h3>Индивидуальный дизайн </h3>
                        <p class="text-left">
                            В отличии от типовых кухонь, кухни на заказ
                            обладают неповторимым внешним видом и
                            оригинальным дизайном.
                        </p>
                    </div>
                    <div class="adv-item">
                        <img align="left" src="{{ asset('bundles/app/img/ergo.jpg') }}" alt="pic" class="m-r-yes">
                        <h3>Максимальная эргономика </h3>
                        <p>
                            Наши специалисты тщательно подбирают
                            конфигурацию кухни и размер каждого
                            элемента кухонной мебели.
                        </p>
                    </div>
                    <div class="adv-item">
                        <img align="right" src="{{ asset('bundles/app/img/proj.jpg') }}" alt="pic" class="m-r-none">
                        <h3>Предварительная визуализация </h3>
                        <p>
                            Еще на начальном этапе, Вы можете оценить
                            будущую кухню и внести необходимые <br>изменения.
                        </p>
                    </div>
                    <div class="adv-item">
                        <img align="left" src="{{ asset('bundles/app/img/price.jpg') }}" alt="pic" class="m-r-yes">
                        <h3>Цены Вы выбираете сами </h3>
                        <p>
                            Влияйте на стоимость своей кухни, выбирая её конфигурацию, материалы для изготовления, декор.
                        </p>
                    </div>
                    <div class="adv-item">
                        <img align="right" src="{{ asset('bundles/app/img/economy.jpg') }}" alt="pic" class="m-r-none">
                        <h3>У нас реально дешевле</h3>
                        <p>
                            Благодаря собственному производству,
                            мы можем самостоятельно выбирать
                            ценовую политику.
                            Мы не зависим от фабрик-производителей.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="way">
        <div class="container">
            <div class="title left">
                <h2>Получите<br/> <span>БЕСПЛАТНЫЙ</span> <br/>дизайн-проект<br/> всего за 1 шаг</h2>
                <h3>или</h3>
                <a href="#" data-toggle="modal" data-target="#myModal">Узнайте еще 2 способа как это сделать</a>
            </div>
            <div id="form_callback" class="form right">
                <form action="{{ path('callback') }}" method="post">
                    <h3>Оставьте заявку<br> и наш дизайнер <br> свяжется с Вами</h3>
                    <h4>для уточнения информации</h4>
                    <div class="controls">
                        <input class="diz" type="text" name="name" placeholder="Как Вас зовут?">
                        <br/>
                        <input class="diz" type="tel" name="phone" placeholder="Ваш номер телефона">
                        <br/>
                        <button type="submit" class="btn btn-danger">Отправить</button>
                        <p>*Ваши данные надежно защищены</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="respond">
        <div class="title">
            <h2>Отзывы наших клиентов</h2>
            <div class="just"></div>
            <p>Настоящие отзывы не вымышленных клиентов</p>
        </div>
        <div class="container">
            <div class="r-box">
                {% for comment in firstComments %}
                    <blockquote class="text-left">
                        <p><em>{{ comment.getContent() }}</em></p>
                        <p>{{ comment.getName() }}</p>
                    </blockquote>
                {% endfor %}

                {% if lastComments is not empty %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Посмотреть еще отзывы</button>
                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                {% for comment in lastComments %}
                                    <blockquote class="text-left">
                                        <p><em>{{ comment.getContent() }}</em></p>
                                        <p>{{ comment.getName() }}</p>
                                    </blockquote>
                                {% endfor %}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "@App/modal.html.twig" %}
{% endblock %}