{% extends '@App/layout.html.twig' %}

{% block content %}
    <div id="about">
        <div class="container">

            <div class="content-faq">
                <div class="f-descrip">
                    <div class="f-item-title">
                    <h2>Какие бывают фасады и как выбрать нужный</h2></div>
                    <div class="f-item">
                        <p> Фасад – это лицевая часть Вашей кухни. Как правило, это дверцы шкафов, а иногда и видимые части каркасов. Фасад определяет внешний вид всего помещения кухни. Какие материалы используются при создании фасада:
                        <ul>
                            <li>МДФ покрытый эмалью (крашенные фасады)</li>
                            <li> МДФ или ДСП покрытый пластиком (пластик)</li>
                            <li>Ламинированная ДСП</li>
                            <li>Алюминиевый профиль</li>
                            <li> МДФ покрытый акрилом</li>
                        </ul>
                    </div>
                    <div class="f-item">
                        <img src="{{ asset('bundles/app/img/stati/kr-mdf.jpg') }}" align="right">
                        <h2>Крашенные фасады (основа МДФ покрывается эмалью)</h2>
                        <p>Крашенные фасады из МДФ являются очень распространенными, они прочные, устойчивые к влаге и перепадам температуры. Такие фасады могут применяться в кухнях различных стилей - от классики до хай-тек. Фасады из МДФ могут быть самых разных размеров и форм.</p>
                        <h3>Основные преимущества</h3>
                        <ul>
                            <li>неограниченный выбор цвета</li>
                            <li>различные виды покрытий
                            <li>простота ухода</li>
                            <li>возможность делать фасады различных форм </li>
                            <li>не впитывают влагу и запахи</li>
                            <li>в процессе эксплуатации не деформируются</li>
                        </ul>
                    </div>
                    <div class="f-item">
                        <img src="{{ asset('bundles/app/img/stati/plastik.jpg') }}" align="right">
                        <h2>Пластик (на основе МДФ или ДСП)</h2>
                        <p>При производстве данного вида фасадов используют высококлассный контактный клей для приклеивания пластика на основание. Кромки фасадов могут быть одного цвета с фасадом или отличаться от него.</p>
                        <h3>Основные преимущества</h3>
                        <ul>
                            <li>большой срок службы</li>
                            <li>устойчивы к перепадам температур</li>
                            <li>не подвержены выцветанию под воздействием
                                <br/> прямых солнечных лучей</li>
                            <li>водонепроницаемость</li>
                            <li>не впитывают влагу и запахи</li>
                            <li>простота ухода за фасадами
                                <br/>с использованием различных моющих средств</li>
                        </ul>
                    </div>
                    <div class="f-item">
                        <img src="{{ asset('bundles/app/img/stati/ldsp.jpg') }}" align="right">
                        <h2>Фасады из ламинированной ДСП</h2>
                        <p>ЛДСП - самый экономичный вариант фасадов. Как правило, ЛДСП служит материалом для корпуса шкафов. Для фасадов кухонной мебели этот материал используют редко, так как выглядит он не очень привлекательно.</p>
                        <h3>Основные преимущества</h3>
                        <ul>
                            <li>низкая стоимость</li>
                            <li>изготовления фасадов различных размеров</li>
                        </ul>
                    </div>
                    <div class="f-item">
                        <img src="{{ asset('bundles/app/img/stati/alumin.jpg') }}" align="right">
                        <h2>Фасады в алюминиевом профиле</h2>
                        <p>Такие фасады представляет собой алюминиевую рамку со вставкой из различных материалов – крашенного стекла, стекла с фотопечатью, пластика или крашенного МДФ.</p>
                        <h3>Основные преимущества</h3>
                        <ul>
                            <li>долговечность и прочность фасада</li>
                            <li>отличные декоративные возможности для дизайнера (фасады с Вашими фотографиями или всевозможными рисунками)</li>
                            <li>изготовления фасадов различных размеров</li>
                            <li>возможность сочетаний различных материалов</li>
                            <li>устойчивость к высоким температурам
                                <br/>и механическому воздействию</li>
                            <li>влагостойкие</li>

                        </ul>
                    </div>
                    <div class="f-item">
                        <img src="{{ asset('bundles/app/img/stati/akril.jpg') }}" align="right">
                        <h2>Акриловые фасады</h2>
                        <p>В отличие от пластиковых фасадов имеют более высокий уровень блеска и менее подвержены механическим повреждениям. Такая кухня станет эффектным дополнением к стилю хай-тек с обилием металлических поверхностей и тягой к экстра глянцу. Если вы хотите порадовать себя чем-то особенным и современным, если вы предпочитаете выделяться на фоне других, акриловые фасады для кухни — ваш вариант!
                        </p>
                        <h3>Основные преимущества</h3>
                        <ul>
                            <li>большой срок службы</li>
                            <li>устойчивы к перепадам температур</li>
                            <li>не подвержены выцветанию под воздействием прямых солнечных лучей</li>
                            <li>водонепроницаемость</li>
                            <li>простота ухода за фасадами с использованием различных моющих средств</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}